.sign_in {
  background: rgb(19, 175, 240);
  background: linear-gradient(
    105deg,
    rgba(91, 104, 235, 1) 0%,
    rgba(40, 225, 253, 1) 100%
  );
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all 0.5s;
  display: inline-block !important;
  padding: 10px 20px !important;
  margin-left: 50px;
  color: #fff !important;
  text-transform: capitalize;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

Link:hover {
  color: #1187ee !important;
}
