$black: #000;
$white: #fff;
/* Control group styling */
.control-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -7rem;
  // padding: 10px;
  // background-color: #f8f9fa;
  border-radius: 6px;
}

/* Button group layout */
.button-group {
  display: flex;
  // background-color: #ddd;
  background: white;
  // padding: 10px;
  flex-wrap: wrap;
  gap: 8px;
}

/* General button styling */
button {
  padding: 8px 12px;
  border: none;
  // background: #007bff;
  background: white;
  // color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #ddd;
}

/* Active state for formatting buttons */
.is-active {
  background: #ddd;
  // color: white;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Heading styles */
.heading-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
}

.heading-select {
  padding: 4px;
  font-size: 0.85rem;
  font-weight:600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.heading-select option {
font-weight: 600;
font-size: small;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty; /* This is experimental; use fallback if needed */
}

h1, h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

/* Inline code style */
code {
  background-color: purple;
  border-radius: 0.4rem;
  color: white;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

/* Code block style */
pre {
  background: $black;
  border-radius: 0.5rem;
  color: white;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  // padding: 0.75rem 1rem;
}

pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* List styling */
ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

ul, ol {
  padding:0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;

}
li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

p {
  color: $black;
  font-weight: 200;
  font: 15px sans-serif; /* This is experimental; use fallback if needed */
}

blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

hr {
  border: none;
  border-top: 1px solid grey;
  margin: 2rem 0;
}

  